Repository Rain3321/algorithm_study, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, Java

.github/labeler.yml:

Python:
  - minwoo.lee/**

Java:
  - minwoo.seo/**

테스트
  minwoo.seo/src/test.java
Labels: Java

[python] BJ16398 풀이
  minwoo.lee/2021.09.01/BJ16398.py
Labels: Python

[JAVA] BJ2615-오목 문제 풀이
  minwoo.seo/src/BJ2615.java
Labels: Java

[python] BJ16398 풀이 (#32)
  minwoo.lee/2021.09.01/BJ16398.py
Labels: Python

[JAVA] BJ2615-오목 문제 풀이 (#26)
  minwoo.seo/src/BJ2615.java
Labels: Java

[JAVA]BJ17829-222 풀링 문제풀이
  minwoo.seo/src/BJ17829.java
Labels: Java

[Java]BJ17829-222 풀링 문제풀이 (#28)
  minwoo.seo/src/BJ17829.java
Labels: Java

[Java]BJ6550-부분 문자열 문제풀이 - #27
  minwoo.seo/src/BJ6550.java
Labels: Java

[Java]BJ6550-부분 문자열 문제풀이 (#39)
  minwoo.seo/src/BJ6550.java
Labels: Java

[JAVA]BJ16398-행성 연결 문제 풀이
  minwoo.seo/src/BJ16398.java
Labels: Java

[python] BJ15683-감시 문제풀이
  minwoo.lee/2021.09.02/BJ15683.py
Labels: Python

[python] BJ15683-감시 문제풀이 (#42)
  minwoo.lee/2021.09.02/BJ15683.py
Labels: Python

[Java]BJ16398-행성 연결 문제 풀이 (#29)
  minwoo.seo/src/BJ16398.java
Labels: Java

[python] BJ2580 스도쿠 문제풀이 (#48)
  minwoo.lee/2021.09.03/BJ2580.py
Labels: Python

[python] BJ22860-폴더 정리(small) 문제풀이
  minwoo.lee/2021.09.05/BJ22860.py
Labels: Python

[python] BJ22860-폴더 정리(small) 문제풀이 (#54)
  minwoo.lee/2021.09.05/BJ22860.py
Labels: Python

[Java]BJ13549-숨바꼭질 3 문제 풀이
  minwoo.seo/src/BJ13549.java
Labels: Java

[Java]BJ13549-숨바꼭질 3 문제 풀이 (#51)
  minwoo.seo/src/BJ13549.java
Labels: Java

[Java]BJ22860-폴더 정리(small) 문제 풀이
  minwoo.seo/src/BJ22860.java
Labels: Java

[Java]BJ22860-폴더 정리(small) 문제 풀이 (#50)
  minwoo.seo/src/BJ22860.java
Labels: Java

[Java]BJ15683-감시 문제풀이 - #27
  minwoo.seo/src/BJ15683.java
Labels: Java

[Java]BJ15683-감시 문제풀이 (#41)
  minwoo.seo/src/BJ15683.java
Labels: Java

[Java] BJ2580-스도쿠 문제풀이
  minwoo.seo/src/BJ2580.java
Labels: Java

[Java] BJ2580-스도쿠 문제풀이 (#43)
  minwoo.seo/src/BJ2580.java
Labels: Java

[Java] BJ20922-겹치는건 싫어 문제 풀이
  minwoo.seo/src/BJ20922.java
Labels: Java

[Java] BJ20922-겹치는건 싫어 문제 풀이 (#47)
  minwoo.seo/src/BJ20922.java
Labels: Java

Add solvedproblems
  solvedProblem.md
Labels: none

[python] BJ13549-숨바꼭질3 문제풀이
  minwoo.lee/2021.09.05/BJ13549.py
Labels: Python

[python] BJ13549-숨바꼭질3 문제풀이 (#53)
  minwoo.lee/2021.09.05/BJ13549.py
Labels: Python

[Java]Bj2224-명제 증명 문제풀이
  minwoo.seo/src/BJ2224.java
Labels: Java

[Java]Bj2224-명제 증명 문제풀이 (#56)
  minwoo.seo/src/BJ2224.java
Labels: Java

[Java]Bj11000-강의실 배정 문제 풀이
  minwoo.seo/src/BJ11000.java
Labels: Java

[Java]Bj11000-강의실 배정 문제 풀이 (#57)
  minwoo.seo/src/BJ11000.java
Labels: Java

[python] BJ20922-겹치는건 싫어 문제풀이
  minwoo.lee/2021.09.03/BJ20922.py
Labels: Python

[python] BJ20922-겹치는건 싫어 문제풀이 (#49)
  minwoo.lee/2021.09.03/BJ20922.py
Labels: Python

[python] BJ11000-강의실 배정 문제풀이
  minwoo.lee/2021.09.06/BJ11000.py
Labels: Python

[python] BJ11000-강의실 배정 문제풀이 (#58)
  minwoo.lee/2021.09.06/BJ11000.py
Labels: Python

[python] BJ2224-명제 증명-문제풀이
  minwoo.lee/2021.09.06/BJ2224.py
Labels: Python

[python] BJ2224-명제 증명-문제풀이 (#59)
  minwoo.lee/2021.09.06/BJ2224.py
Labels: Python

[Java]bj20055-컨베이어 벨트 위의 로봇 문제풀이
  minwoo.seo/src/BJ20055.java
Labels: Java
