Repository Rain3321/algorithm_study, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, Java

[Java]bj20055-컨베이어 벨트 위의 로봇 문제풀이 (#61)
  minwoo.seo/src/BJ20055.java
Labels: Java

[python] BJ20055-컨베이어 벨트 위의 로봇 문제풀이
  minwoo.lee/2021.09.07/BJ20055.py
Labels: Python

[python] BJ20055-컨베이어 벨트 위의 로봇 문제풀이 (#60)
  minwoo.lee/2021.09.07/BJ20055.py
Labels: Python

[python] BJ5014-스타트링크 문제풀이
  minwoo.lee/2021.09.13/BJ5014.py
Labels: Python

[Java]BJ5014-스타트링크 문제풀이
  minwoo.seo/src/BJ5014.java
Labels: Java

[python] BJ5014-스타트링크 문제풀이 (#64)
  minwoo.lee/2021.09.13/BJ5014.py
Labels: Python

Update solvedProblem.md
  solvedProblem.md
Labels: none

[python] BJ1194-달이 차오른다, 가자. 문제풀이
  minwoo.lee/2021.09.14/BJ1194.py
Labels: Python

[Java]BJ1194 - 달이 차오른다, 가자. 문제풀이
  minwoo.seo/src/BJ1194.java
Labels: Java

[Java]BJ17471-게리맨더링 문제 풀이
  minwoo.seo/src/BJ17471.java
Labels: Java

[python] BJ19237-어른상어 문제풀이
  minwoo.lee/2021.09.07/BJ19237.py
Labels: Python

[python] BJ19237-어른상어 문제풀이 (#62)
  minwoo.lee/2021.09.07/BJ19237.py
Labels: Python

[python] BJ17471-게리맨더링 문제풀이
  minwoo.lee/2021.09.15/BJ17471.py
Labels: Python

[python] BJ1068-트리 문제풀이
  minwoo.lee/2021.09.29/BJ1068.py
Labels: Python

java 문제 풀이를 위한 모듈 생성 및 테스트
  minwoo.lee_java/src/Test.java
Labels: none

[Java] BJ16926 - 배열돌리기1 문제풀이
  minwoo.seo/src/BJ16926.java
Labels: Java

[JAVA] BJ16926 - 배열돌리기1 문제풀이
  minwoo.lee_java/src/BOJ16926.java
Labels: none

[Java] BJ16926 - 배열돌리기1 문제풀이 (#73)
  minwoo.seo/src/BJ16926.java
Labels: Java

[JAVA] BJ16926 - 배열돌리기1 문제풀이 (#74)
  minwoo.lee_java/src/BOJ16926.java
Labels: none

[Java] BJ1548 - 부분 삼각 수열 문제풀이
  minwoo.seo/src/Bj1548.java
Labels: Java

[Java] BJ17609 - 회문 문제풀이
  minwoo.seo/src/BJ17609.java
Labels: Java

[JAVA] BJ1548 - 부분 삼각 수열 문제풀이
  minwoo.lee_java/src/BOJ1548.java
Labels: none

[Java] BJ1548 - 부분 삼각 수열 문제풀이 (#75)
  minwoo.seo/src/Bj1548.java
Labels: Java

[JAVA] BJ1548 - 부분 삼각 수열 문제풀이 (#77)
  minwoo.lee_java/src/BOJ1548.java
Labels: none

[JAVA] BJ17609 - 회문 문제풀이
  minwoo.lee_java/src/BOJ17609.java
Labels: none

[Java] BJ17609 - 회문 문제풀이 (#76)
  minwoo.seo/src/BJ17609.java
Labels: Java

[JAVA] BJ17609 - 회문 문제풀이 (#78)
  minwoo.lee_java/src/BOJ17609.java
Labels: none

[JAVA] BJ9084 - 동전 문제풀이
  minwoo.lee_java/src/BOJ9084.java
Labels: none

[JAVA] BJ2206 - 벽 부수고 이동하기 문제풀이
  minwoo.lee_java/src/BOJ2206.java
Labels: none

[JAVA] BJ1753 - 최단경로 문제풀이
  minwoo.lee_java/src/BOJ1753.java
Labels: none

[Java] BJ9084 - 동전 문제풀이ver.2
  minwoo.seo/src/BJ9084_2.java
Labels: Java

[Java] BJ2206 - 벽 부수고 이동하기 문제풀이
  minwoo.seo/src/BJ2206.java
Labels: Java

[Java] BJ1753 - 최단경로 문제풀이
  minwoo.seo/src/BJ1753.java
Labels: Java

[Java] BJ2206 - 벽 부수고 이동하기 문제풀이 (#83)
  minwoo.seo/src/BJ2206.java
Labels: Java

[Java] BJ1753 - 최단경로 문제풀이 (#82)
  minwoo.seo/src/BJ1753.java
Labels: Java

[JAVA] BJ9084 - 동전 문제풀이 (#79)
  minwoo.lee_java/src/BOJ9084.java
Labels: none

[JAVA] BJ1753 - 최단경로 문제풀이 (#81)
  minwoo.lee_java/src/BOJ1753.java
Labels: none

[Java] BJ9084 - 동전 문제풀이ver.2 (#84)
  minwoo.seo/src/BJ9084_2.java
Labels: Java

[JAVA] BJ2206 - 벽 부수고 이동하기 문제풀이 (#80)
  minwoo.lee_java/src/BOJ2206.java
Labels: none

[백준] 15787. 기차가 어둠을 헤치고 은하수를 문제풀이
  minwoo.seo/src/BJ15787.java
Labels: Java

.github/labeler.yml:

Python:
  - minwoo.lee/**

Java:
  - minwoo.seo/**
